---
layout: prose
title: Blog
permalink: /blog/
description: Welcome to my blog
---

<div class="flex justify-between border-b border-gray-300 mb-8">
  <h1>Blog</h1>
  <a href="/feed.xml" title="Feed" class="inline-flex items-center"><span>Feed</span><svg class="inline w-6 h-6 text-red-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 5c7.18 0 13 5.82 13 13M6 11a7 7 0 017 7m-6 0a1 1 0 11-2 0 1 1 0 012 0z"></path></svg>
  </a>
</div>

{% for post in site.posts %}
  <div class="mb-8">
    <a href="{{ post.url }}" class="text-lg hover:text-red-500">{{ post.title }}</a>
    <div>{{ post.summary }}</div>
    <div class="text-gray-500">{{ post.date | date_to_long_string }}</div>
  </div>
{% endfor %}
